* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 4rem;
    background-color: #7e7b80;
    font-size: 1.5em;
}
header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    margin-left: 20px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: wheat;
}

header li a:hover {
    color: rgba(235, 197, 127, 0.877);
    transition: 0.9s;
}

.sessao1 {
    padding: 15rem;
    background-image: url(imagens/Banner\ IPhone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-sessao1 {
    width: 300px;
    height: 200px;
}

.sessao1 h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #4c4750;
}
.div-sessao1 p {
    font-size: 15px;
    margin-right: -40px;
    font-weight: 500;
    line-height: 22px;
}

.sessao2 {
    padding: 10rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.sessao2 div p {
    font-size: 2.3em;
    margin-bottom: 15px;
}

.sessao2 div button {
    padding: 1em;
    border-radius: 20px;
    border-color: wheat;
    width: 20em;
    color: #4c4750;
    cursor: pointer;
}

.sessao2 div button:hover {
    color: #6c508b;
    transition: 0.9s;
    border-color: #6c508b;
}

.sessao2 div img {
    width: 25rem;
    height: 25rem;
    margin-top: -40px;
}

.line {
    width: 50%;
    margin: 0 auto;
}
.sessao3 {
    padding: 10rem;
}

.sessao3 h3 {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -30px;
}

.sessao3 p {
    font-size: 2em;
    text-align: justify;
}

.sessao3 span {
    color: rgb(230, 185, 103);
}
.sessao4 {
    padding: 10rem;
    background: linear-gradient(180deg, rgba(236,230,223,0.8715861344537815) 33%, rgba(93,90,86,1) 100%), url(imagens/Banner\ 02.jpg);
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-around; 
}

.sessao4 p {
    font-size: 2.5em;
    margin-top: 70px;
}

.sessao4 div img {
  width: 14rem;
}

footer {
    padding: 3.4rem; 
    background-color: #4c4750; 
    font-size: 1.5em; 
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin: 20 auto;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: wheat;
}

footer li a:hover {
    color: rgba(235, 197, 127, 0.877);
    transition: 0.9s;
}
